@charset "UTF-8";

/*global*/


html,head,body{
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}


/* 모든 것 ---------------------------------------*/

*{
    margin: 5px 5px 5px 5px; 
    padding: 5px 5px 5px 5px;
 
    border: 1px black solid;
    list-style: none; 
    /* 
    그냥 보려고 넣은 것
    
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
     border: 1px black solid !important;
     */ 
}






a {
    text-decoration: none;
    /* color: black; */
}




/* header ---------------------------------------*/


header{

    display: flex;
    
    top: 0;
  	left: 0;
  	right: 0;
    
    
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 0px 0px 0px 0px !important;
    padding : 0 0 0 0;
    
    text-align: center;
    
    width: 1366px;
    height: 100px;
    
    position: fixed;
    
    background-color : rgb(9, 74, 169);
    
    border-bottom : 1px solid white;
    
    z-index : 999;
    
  
}


header div{
  /*   width:  350px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/* footer ---------------------------------------*/

footer{
    margin: 0px 0px 0px 0px !important;
    
    width: 1366px;
    
    
    position: relative;
    top: 115px;
    
    padding : 0 0 0 0;
   
}

footer>div#footer-container{
	height : 100px !important;
	
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5px 0px 0px 0px !important;
   /*  height: fit-content; */
    
    background-color : rgb(9, 74, 169);
    
    margin : 0 0 0 0 !important;
}

footer>div>span>p{
	color : white;
}


/* ----- header 안에 있는 메뉴들  ---------------------------------------*/


ul#header-menuContainer{
	list-style : none;
}

ul#header-menuContainer>li{
	float : left;
	position : relative;
	list-style : none;
	color : white;
	margin : 0px 20px 0px 20px;
	height : 90px;
	
	/*선생님이 가르쳐주신 부분 */
	padding-top: 30px;
    box-sizing: border-box;
	
}

ul#header-menuContainer>li>a{
	color : white;
}

/* div id="header-signContainer"  */
div#header-signContainer{
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}

/* --- admin용 메뉴 ---*/
ul#admin_menu{
	list-style : none;
}

ul#admin_menu>li>a{
	color : white;
}


/*---signin 메뉴---*/
ul#login_menu{
	list-style : none;
}

ul#login_menu>li{
	float : left;
	position : relative;
	list-style : none;
	color : white;
	margin : 10px;
	height : 50px;
	
	padding-top: 15px;
    box-sizing: border-box;
}

ul#login_menu>li>a{
	color : white;
}



/* --- logo --- */

div#header-logoContainer{
	width : 300px;
}

div#header-logoContainer>ul>li{
	float : left;
	position : relative;
	list-style : none;
	color : white;
	margin : 20px;
	height : 50px;
}

div#header-logoContainer>ul>li>a{
	font-size : 40px;
	font-weight : border;
	font-family: 'Dancing Script', cursive;
	color : white;
}



/*---mypage 메뉴 ---*/
ul#mypage_menu{
	list-style : none;
}

ul#mypage_menu>li{
	float : left;
	position : relative;
	list-style : none;
	color : white;
	margin-right : 20px;
	height : 50px;
}

ul#mypage_menu>li>a{
	color : white;
	padding : 0 0 10px 0;
	margin : 0 0 0 0;
}

ul#mypage_menu>a>img#header_mypageIcon{
	float : left;
	position : relative;
	list-style : none;
	color : white;
	height : 50px;
}



/* shop, board 의 하위메뉴 */
ul#header-menuContainer>li>ul{
	list-style : none;
	display : none;
	position : absolute;
	width : 160px;
	/* width : 1366px; */
	/* background-color : rgba(225, 225, 225, 0.6); */
	background-color : white;
	left : -60px;
	top : 90px;
	margin : 0;
	color : white !important;
	padding : 20px;
	
}

ul#header-menuContainer>li>ul>li{
	padding : 10px;
	
}


ul#header-menuContainer>li>ul>li>a{
	font-size : 15px;
	padding : 10px;
	color : #000;
	text-align : left;
	
}


ul#header-menuContainer>li:hover>ul{
	display : block;
	z-index : 10;
	
}

ul#header-menuContainer>li>ul>li>a:hover{
	color : orange;
	font-weight : 900;
}


/*---mypage의 하위메뉴 ---*/
ul#mypage_menu>li>ul{
	list-style : none;
	display : none;
	position : absolute;
	width : 160px;
	/* width : 1366px; */
	/* background-color : rgba(225, 225, 225, 0.6); */
	background-color : white;
	left : -60px;
	top : 90px;
	margin : 0;
	color : white !important;
	padding : 20px;
	
}

ul#mypage_menu>li>ul>li{
	padding : 10px;
	
}


ul#mypage_menu>li>ul>li>a{
	font-size : 15px;
	padding : 10px;
	color : #000;
	text-align : left;
	
}


ul#mypage_menu>li:hover>ul{
	display : block;
	z-index : 10;
	
}

ul#mypage_menu>li>ul>li>a:hover{
	color : orange;
	font-weight : 900;
}



/* contents  ---------------------------------------*/
#mainPage-main{
    width: 1366px;
    height: 2800px;
    
    margin: 0px 0px 0px 0px !important;
    padding : 0 0 0 0;
    
    position: relative;
    top: 100px;
    
}


/* contents ( bestReviewers ) ---------------------------------------*/

div#bestReviewers>p.section_title{
	text-align : center;
	color : orange;
	font-weight : bolder;
	font-size : 25px;
	margin : 30px;
}



div#bestReviewers{
	background-color : rgb(9, 74, 169);
	
	margin : 0 0 0 0;
	padding : 30px 70px 70px 70px;
	
}

div#img_name_price{
	display : grid;
	justify-content : center;
	
	grid-template-columns : 300px 300px 300px;
	grid-template-rows : 400px;
	
	grid-column-gap : 70px;
	grid-row-gap : 30px;
	
	
}

div#inner_nameprice{
	display : grid;
	
	grid-template-columns : 300px 300px 300px;
	grid-template-rows : 100px;
	
	grid-column-gap : 70px;
	grid-row-gap : 70px;
	
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}

/* 

div#bestReviewers div.img{
	border : 1px solid white;	
} */

div#bestReviewers img{
	width : 300px;
	height : 400px;
} 


div#bestReviewers div.name_price{
	border : 1px solid white;
} 



/* contents ( today's pick ) ---------------------------------------*/

div#todayspick>p.section_title{
	text-align : center;
	color : orange;
	font-weight : bolder;
	font-size : 25px;
	margin : 0 0 0 0;
	padding-top : 50px;
	padding-bottom : 50px;
}

div#todayspick{
	background-color : rgb(240, 240, 240);
	margin : 0 0 0 0;
}



div#todayspick div#disc{
	
	width : 400px;
	height : 300px;
	
	margin : 0 0 0 0;
}

div#slideshow{
	clear : both;
	width : 100%;
	height : 400px;
	overflow : hidden;
	position : relative;
	
}

div#slides{
	position : absolute;
}

div#slides>img{
	width : 400px;
	height : 300px;
	float : left;
	margin-left : 150px;
}

div#slides>div#disc{
	width : 550px;
	height : 300px;
	/* border : 1px pink solid; 확인용 */
	margin-left : 50px;
}


div#todayspick button{
	position : absolute;
	height : 100%;
	top : 0;
	border : none;
	padding : 20px;
	background-color : transparent;
	color : #000;
	font-weight : 800;
	font-size : 24px;
	opacity : 0.5;
	
}

div#slides button#prev{
	left : 0;
}

div#slides button#next{
	right : 50;
} 


div#slides>button:hover{
	background-color : #222;
	color : #fff;
	opacity : 0.6;
	cursor : pointer;
}

div#slides>button:focus{
	outline : 0;
}






/* contents ( 상품 ) ---------------------------------------*/

div#contents{
	
	background-color : rgb(220, 220, 220);
	margin : 0 0 0 0;
}

div#contents #contents_imgs{
	display : grid;
	justify-content : center;
	
	grid-template-columns : repeat(3, 300px);
	grid-template-rows : repeat(3, 400px);
	
	grid-column-gap : 70px;
	grid-row-gap : 70px;
	
	margin : 70px;
}

div#contents .img{
	border : 1px solid white;
	
}

div#contents_sort{
	text-align : left;
	font-size : 15px;
	margin : 0 0 0 0;
	padding : 50px;
	
}

div#contents_sort>span{
	padding-left : 100px;
	margin : 0 0 0 0;
	color : white;
}

div#contents_sort>span:hover{
	color : orange;
	font-weight : 900;
}
	





/*sh*/
/* errorpage start */
#error-body{
	magin:0px auto;
	padding:0px auto;
}

#error-container{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items:center;
	position:absolute;
	/* top: 100px; */
	justify-content: center;
	margin: 0px auto;
	padding: 0px auto;
	background-color : rgb(9, 74, 169);
	color:white;
}

#error_box{
	width:800px;
	height:300px;
	display:flex;
	flex-direction:row;
	align-content: center;
	justify-content: space-around;
	margin: 0px auto;
	padding: 0px auto;
}

#error_message{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}



#error_image{
	width:300px;
	height:300px;
}

/* error page end */

/* order start */



#orderOrrefundMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	height: auto !important;
}
 #orderOrrefund{
 margin: 100px 100px 100px 100px;
 width: 1000px;
 height: fit-content;
 padding: 30px 30px 30px 30px;
} 

#orderOrrefund_selector-container{
	height: 50px;
	padding: 0px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#orderOrrefund_selector-container span{
	font-size: 24px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
}
#order_selector{
	margin-left: 20px !important;
}

#oderOrrefund-container{
	margin-top: 30px;
}

#orderOrrefund-table{
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}

#orderOrrefund-table a{
	text-decoration: none;
	color: black;
}

/* #status-button{
	width: 150px;
	background-color: white;
} */

#pageBar{
	display:flex;
	justify-content: center;
}


/*login*/
#signinMain{
	position:relative;
	top:105px;
	height: 525px !important;
	display:flex;
	justify-content: center;
	align-items: center;
}
#signin-container{
	width:500px;
	height:400px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
}
#signin-container form{
	width:320px;
	height:300px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}



#signin-container p,input{
	width:300px;
	height:30px;
	margin-top:15px;
	margin-left:auto !important;
	margin-right:auto !important;
}

#input_section{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-content:center;
	height:200px;
	
}
#submit_section{
	 display:flex;
	flex-direction:row;
	justify-content:center;
	align-content:center; 
	height:auto !important;
	
}



#check_signin{
	height:50px;
}
#lostorsignup-container{
	width:300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#lostorsignup-container a{
	text-decoration: none;
	color: black;

}


/* cart  */
#cart-main{
	display:flex;
	justify-content: center;
	align-content: center;
	height:auto !important;
}
#cart-container{
	height:auto !important;
	margin-top:45px;
	margin-bottom:45px;
	
}
#cart-table{
	border-collapse: collapse;
	height: 400px;
	text-align: center
}
#cart-table th{
	width:300px;
	height:50px

}
#result_none{
	height:350px;
	
}
#cart_title{
	margin-bottom:10px;
}

#cart-table tr:first-child th:first-child{
	width:40px;
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	align-content: center;
	border-right: none !important;

}
#cart-table tr:first-child th:nth-child(2){
	border-left: none !important;
	width: 80px;
	
}
#cart-table input{
	width:15px;
	height:15px;
	margin-left:0px;
	margin-right:10px;
	padding:0px;
	
}

/*jh */


/* ProductList.jsp 부분 */
/*카테고리 클릭 버튼*/

ul#category-bar{
	display : flex;
	flex-direction : row;
	position : relative;
	justify-content: center;
	padding : 10px 0;
}

ul#category-bar>li{
	margin: 10px 40px;
	padding : 10px 0 ;
	color : rgb(127, 127, 127);
}

ul#category-bar>li:hover{
	color : rgb(64, 64, 64);
	font-weight : bolder;
	
}

main#category-container{
	margin: 0 !important ; 
    padding: 0 !important;
    box-sizing: border-box !important;
	position: relative;
	background-color: rgb(240, 240, 240);
	top : 90px;
	width : width 1366px;
}

/* 정렬순 (인기/높은가격순/낮은가격순 ) */

div#sort-container{
	/* border : 1px solid black; */
	margin-top : 60px;
	position : absolute;
	left : 300px;
}

div#sort-container>ul {
	display : flex;
	flex-direction : row;
}

div#sort-container li {
	margin : 0 15px;
}

div#sort-container li:hover{
	color : rgb(236, 147, 2);
	font-weight : bolder;
}


/*상품 정렬 이미지 파트 */
div#items-container{
	display : grid;
	justify-content : center;
	
	grid-template-columns : repeat(3, 250px);
	/* grid-template-rows : repeat(3, 420px); */
	grid-gap : 30px 20px;
	position : relative;
	top : 130px;
}

div.img-container{
	width : 250px;
	height : 350px;
}

/* div.img-container:hover .text{
	opacity:0.6; text-align:center; color:#ffffff;
} */

.items{
	border : 1px solid black;
}

.img-container{
	position : relative;
}

.items-img{
	border : 1px solid orange;
	height : 350px;
}

.text{
	width : 246px;
	height : 348px;
	position : absolute;
	top : 0;
	left : 0;
	color : #fff;
	opacity : 0;
	transition : 0.3s
	
}

.text{
	width : 250px;
	heigth : 420px;
	background : #000000;
	opacity : 0;
	padding:30px;
}

.img-container:hover .text{
	opacity : 0.6;
}

.items-content{
	border : 1px solid blue;
	margin-top : 15px;
	height : 50px;
}

img.heart{
	width: 15px;
	margin-left : 10px;
	/*하트 클릭 토글화 해야함.*/
}


/*-----------------------------------------------------------  */
/* ProductDetail.jsp 부분 */

/*상품 고르기 */
div#choice-container{
	border : 1px black solid;
	display : grid;
	grid-template-columns : repeat(2, 380px);
	grid-template-rows : 500px;
	grid-gap : 30px 40px;
	justify-content : center;
	position : relative;
	top : 50px;
	
}

div#item-img{
	border : 1px blue solid;
}


div#item-comment{
	border : 1px orange solid;
	position : relative;
}

table#comment-table{
	margin: 20px 30px;
	border-spacing: 0 20px;
}

td.text-style{
	font-size : 20px;
	color : orange;
}

div#total{
	width : 380px;
	height : 120px;
	border : solid 1px black;
	position : abolute;
	top : 100px;
}

div#btn {
	width : 100%;
	height : 90px;
	border : 1px solid black;
	position : relative;
	text-align : center;
}

/*상품관련 info */
ul.info-bar{
	display : flex;
	flex-direction : row;
	position : absolute;
	top : 300px;
}

ul.info-bar li{
	
}


div#info-container{
	position : absolute;
	top : 510px;
	width : 100%;
	height : auto;
	
}

/*yj*/

/* ------ reviewList.jsp --------*/

	/* 베스트 리뷰 3개 */
	div#review_bestReviewerContainer{
	    position: relative;
	    top: 100px;
	    
	    width : 1366px;
	    
	    margin-bottom : 100px;
	}
	
	div#review_bestReviewerTable>table{
	 	padding-bottom : 50px;
		border-bottom : 1px solid black;
	}
	 
	
	div#review_bestReviewerContainer tr *{
		text-align : center;
	}
	
	div#review_bestReviewerContainer tr, div#review_bestReviewerContainer td{
		padding : 30px;
	}
	
	div p.section_title {
		text-align : center;
		color : orange;
		font-weight : bolder;
		font-size : 25px;
		margin : 30px;
	}



	/* 리뷰 목록*/
	div#review_reviewListContainer{
		width : 1366px;
	}
	
	table#reviewTable{
		width : 1000px;
		margin-left: auto; 
		margin-right: auto;
		padding : 0 0 0 0;
	}
	
	table#reviewTable>tr>td{
		padding : 30px;
		border-style : none;
	}
	
	
	table#reviewTable tr:last-of-type>td{
		text-align: right;
	}
	
	
	
	
	/* 페이지바 */
	div#reviewList_pagebar{
		text-align : center;
		padding : 50px 0px 0px 0px;
		width : 1366px;
		margin : 0 0 0 0;
		
	}
	
	
	
	
/* -------------reviewForm.jsp------------*/

	div#reviewForm-container table{
		width : 800px;
		margin-left: auto; 
		margin-right: auto; 
		margin-top : 50px; 
		margin-bottom : 100px;
	}
	
	div#reviewForm-container input{
		height : 30px;
	}
	
	div#reviewForm-container td, div#reviewForm-container th{
		padding : 5px;
	}
	
	div#reviewForm-container th{
		width : 150px;
	}
	
	div#reviewForm-container td{
		text-align : left;
	}
	
	/* div#reviewForm-container input#reviewTitle{
		text-align : left;
	} */
	
	div#reviewForm-container input[type=submit], div#reviewForm-container input[type=reset]{
		width : 70px;
		height : 35px;
		margin-left : 5px;
		margin-right : 5px;
	}
	
	
	main#reviewForm_main{
		height : 1000px;
	}
	
	div#reviewForm-container>h1{
		text-align : center;
		margin : 50px auto 0px auto;
		color : orange;
		font-weight : bolder;
		font-size : 25px;
	}
	
	
	
	/* -------------- reviewDetail.jsp ---------------- */
	
	div#reviewDetail-container{
		width : 900px;
		height : 1500px;
		margin-left : auto;
		margin-right : auto;
		
		padding : 50px;
		
	}
	
	div#reviewDetail-inner-container{
		height : 200px;
		border-bottom : 3px solid pink !important;
	}
	
	div#reviewDetail-inner2-container{
		float : right;
	}
	
	div#reviewDetail-buttons button{
		width : 70px;
		height : 35px;
		margin-left : 5px;
		margin-right : 5px;
	}
	





