@charset "UTF-8";

#orderdetail-table{
	border-collapse: collapse;
	width: 100%;
	height :auto;
}

#orderdetail-table td{
	border: 1px black solid !important;
}




/*jh */


/* ProductList.jsp 부분 */
/*카테고리 클릭 버튼*/

.category-bar{
	width:1366px;
	margin:0px;
	padding:0px;
	position : relative;
	top:100px;
}

ul#category-bar{
	display : flex;
	flex-direction : row;
	
	width:1366px;
	justify-content: center;
	padding : 10px 0px 10px 0px;
	margin : 10px 0px 10px 0px;
}


ul#category-bar>li{
	margin: 10px 40px;
	padding : 10px 0 ;
	color : rgb(127, 127, 127);
}

ul#category-bar>li:hover{
	color : rgb(64, 64, 64);
	font-weight : bolder;
	
}


main#category-container{
	margin: 0 !important ; 
    padding: 0 !important;
    box-sizing: border-box !important;
	position: relative;
	background-color: rgb(240, 240, 240);
	top : 100px;
	width :  1366px;
	
}

/* 정렬순 (인기/높은가격순/낮은가격순 ) */





div#sort-container>ul {
	display : flex;
	flex-direction : row;
	justify-content: flex-end;
}

div#sort-container li {
	margin : 0 15px;
}

div#sort-container li:hover{
	color : rgb(236, 147, 2);
	font-weight : bolder;
}


/*상품 정렬 이미지 파트 */
#grid-container{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap:60px 60px;
	padding: 70px;
}

.grid_itembox{
	width: 300px;
	height:450px;
	margin : auto;
	padding:0px 0px 0px 0px;
	box-sizing: border-box;
	
}

.cover{
	box-sizing: border-box;
	width: 300px;
	height:450px;
	margin:0px!important;
	padding:0px!important;
	
	
}
/* .cover>a{
	margin:0px!important;
	padding:0px!important;
	width:300px;
	height:450px;
	box-sizing: border-box;
	position: relative;
	z-index: 9999;
	
} */

.cover img{
	margin:0px!important;
	padding:0px!important;
	width:300px !important;
	height:390px !important;
	box-sizing: border-box;
}

.explain{
	width:300px !important;
	height: 60px !important;
	margin:0px!important;
	padding:0px!important;
	display: flex;
	flex-direction:column;
	box-sizing: border-box;
	
}

.explain p{
	margin:0px!important;
	padding:0px!important;
	width:300px;
	height:30px;
	box-sizing: border-box;
	text-align: center;
	
}

.thumbnail{
	margin:0px!important;
	padding:30px!important;
	position: relative;
	top:-455px;
	z-index:500;
	left:-10px;
	width:320px;
	height:470px;
	background: rgba(0,0,0,0.5);
	display:none;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	color:white;
	vertical-align: center;
}

.thumbnail>p{
	width:250px;
	border:none;
	
}


.grid_itembox:hover .thumbnail{
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0px!important;
	padding:0px!important;
}


#pageBar{
	display:flex;
	justify-content: center;
}

/*-----------------------------------------------------------  */
/* ProductDetail.jsp 부분 */

/*상품 고르기 */
#productdetail-main{
	margin:0px!important;
	padding:0px!important;
	width:1366px;
	height:auto;
	display: flex;
	justify-content: center;
	align-content: center;
	
}

#productcontent-container{
	margin-top:100px;
	margin-bottom:100px;
	padding:0px!important;
	height:auto;
	width:1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}

#product_table-container{
	box-sizing: border-box;
	width:1000px !important;
	margin:0px!important;
	padding:0px!important;
	height:650px;
}

#product-table{
	width:1000px;
	box-sizing: border-box;
	margin:0px!important;
	padding:0px!important;
	height: 600px;
	
}

#product-table>tbody>tr:first-child>td:first-child{
	/* background-color:green; */
	width:600px;
	box-sizing: border-box;
	margin:0px!important;
	padding:0px!important;
	vertical-align: middle;
	text-align: center;
	
	
}
#product-table>tbody>tr:first-child>td:first-child>img{
	box-sizing: border-box;
	margin:0px!important;
	padding:0px!important;
	width:600px	;
	height: 600px;
	
}

#product-table>tbody>tr:first-child>td:nth-child(2){
	color:orange;
	height: 200px;
}

#product-table td{
	text-align: left;
	vertical-align: center;
	border: none !important;
	font-size:24px;
	margin: 0px auto;
	padding: 0px auto;
}
#product-table button{

	margin:  auto;
	padding:  auto;
	width: 150px;
	height:50px;
}

#buynow-btn{
	background-color: rgb(11, 53, 152);
	color:white;
	font-size:24px;
}

#cart-btn{
	background-color: white;
	color:black;
	font-size:24px;
	border: 1px black solid;
}

#detailbox-container{
	width:1000px;
	margin:20px 0px 30px 0px !important;
	padding:0px!important;
	height: auto;
	
}

#menu_select-container{
	width:1000px;
	margin:15px 0px 15px 0px!important;
	padding:0px!important; 
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

#menu_select-container span{
	width:200px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:10px;
	
}	

#menu_content-container{
	margin : 10px 0px 10px 0px;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
	padding:0px!important;
}



#menu_content-img img{
	margin:15px 15px 15px 15px!important;
	padding:0px!important;
	width:450px;
}

#menu_content-img{
	display:flex;
}

.menu_content-container1{
	margin:0px!important;
	padding:0px!important;
	width:1000px;
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	
} 

#menu_content-notice{
	display: none;
	
}

#menu_content-review{
	display: none;
	
}
#menu_content-qna{
	display: none;
	
}

#menu_content-p{
	text-align: left;
	padding:40px;
	
}

#product_stock{
	
	width : 165px;
}
