@charset "UTF-8";

/*global*/


html,head,body{
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}


/* 모든 것 ---------------------------------------*/

*{
    margin: 5px 5px 5px 5px; 
    padding: 5px 5px 5px 5px; 
 
    border: 1px black solid;
    list-style: none; 
   
    /* 
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    list-style: none; 
     border: 1px black solid !important;
     */ 
}


a {
    text-decoration: none;
    /* color: black; */
}

main{
	width : 1366px !important;
	margin: 0px !important;
	padding: 0px !important;
	height : auto !important;
	position :relative !important;
	top : 100px !important;
	
}



/* header ---------------------------------------*/


header{

    display: flex;
    
    top: 0;
  	left: 0;
  	right: 0;
    
    
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 0px 0px 0px 0px !important;
    padding : 0 0 0 0;
    
    text-align: center;
    
    width: 1366px;
    height: 100px;
    
    position: fixed;
    
    background-color : rgb(9, 74, 169);
    
    border-bottom : 1px solid white;
    
    z-index : 999;
    
  
}


header div{
  /*   width:  350px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/* footer ---------------------------------------*/

footer{
    margin: 0px 0px 0px 0px !important;
    width: 1366px;
    position: relative;
	top:100px;    
    
    padding : 0 0 0 0;
    
}

footer>div#footer-container{
	height : 100px !important;
	
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5px 0px 0px 0px !important;
    
   /*  height: fit-content; */
    
    background-color : rgb(9, 74, 169);
    
    margin : 0 0 0 0 !important;
}

footer>div>span>p{
	color : white;
}


/* ----- header 안에 있는 메뉴들  ---------------------------------------*/


ul#header-menuContainer{
	list-style : none;
}

ul#header-menuContainer>li{
	float : left;
	position : relative;
	list-style : none;
	color : white;
	margin : 0px 20px 0px 20px;
	height : 90px;
	
	/*선생님이 가르쳐주신 부분 */
	padding-top: 30px;
    box-sizing: border-box;
	
}

ul#header-menuContainer>li>a{
	color : white;
}

/* div id="header-signContainer"  */
div#header-signContainer{
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}

/* --- admin용 메뉴 ---*/
ul#admin_menu{
	list-style : none;
}

ul#admin_menu>li>a{
	color : white;
}


/*---signin 메뉴---*/
ul#login_menu{
	list-style : none;
}

ul#login_menu>li{
	float : left;
	position : relative;
	list-style : none;
	color : white;
	margin : 10px;
	height : 50px;
	
	padding-top: 15px;
    box-sizing: border-box;
}

ul#login_menu>li>a{
	color : white;
}



/* --- logo --- */

div#header-logoContainer{
	width : 300px;
}

div#header-logoContainer>ul>li{
	float : left;
	position : relative;
	list-style : none;
	color : white;
	margin : 20px;
	height : 50px;
}

div#header-logoContainer>ul>li>a{
	font-size : 40px;
	font-weight : border;
	font-family: 'Dancing Script', cursive;
	color : white;
}



/*---mypage 메뉴 ---*/
ul#mypage_menu{
	list-style : none;
}

ul#mypage_menu>li{
	float : left;
	position : relative;
	list-style : none;
	color : white;
	margin-right : 20px;
	height : 50px;
}

ul#mypage_menu>li>a{
	color : white;
	padding : 0 0 10px 0;
	margin : 0 0 0 0;
}

ul#mypage_menu>a>img#header_mypageIcon{
	height : 50px;
}



/* shop, board 의 하위메뉴 */
ul#header-menuContainer>li>ul{
	list-style : none;
	display : none;
	position : absolute;
	width : 160px;
	/* width : 1366px; */
	/* background-color : rgba(225, 225, 225, 0.6); */
	background-color : white;
	left : -60px;
	top : 90px;
	margin : 0;
	color : white !important;
	padding : 20px;
	
}

ul#header-menuContainer>li>ul>li{
	padding : 10px;
	
}


ul#header-menuContainer>li>ul>li>a{
	font-size : 15px;
	padding : 10px;
	color : #000;
	text-align : left;
	
}


ul#header-menuContainer>li:hover>ul{
	display : block;
	z-index : 10;
	
}

ul#header-menuContainer>li>ul>li>a:hover{
	color : orange;
	font-weight : 900;
}


/*---mypage의 하위메뉴 ---*/
ul#mypage_menu>li>ul{
	list-style : none;
	display : none;
	position : absolute;
	width : 160px;
	background-color : white;
	left : -60px;
	top : 80px;
	margin : 0;
	color : white !important;
	padding : 20px;
	
}

ul#mypage_menu>li>ul>li{
	padding : 10px;
	
}


ul#mypage_menu>li>ul>li>a{
	font-size : 15px;
	padding : 10px;
	color : #000;
	text-align : left;
	
}


ul#mypage_menu>li:hover>ul{
	display : block;
	z-index : 10;
	
}

ul#mypage_menu>li>ul>li>a:hover{
	color : orange;
	font-weight : 900;
}



/* contents  ---------------------------------------*/
#mainPage-main{
    width: 1366px;
    height: 2800px;
    
    margin: 0px 0px 0px 0px !important;
    padding : 0 0 0 0;
    
    position: relative;
    top: 100px;
    
}


/* contents ( bestReviewers ) ---------------------------------------*/

div#main_bestReviewerContainer>p.section_title{
	text-align : center;
	color : orange;
	font-weight : bolder;
	font-size : 25px;
	margin : 30px;
}

div#main_bestReviewerContainer{
	background-color : rgb(9, 74, 169);
	
	margin : 0 0 0 0;
	padding : 30px 70px 70px 70px;
	
}

.whiteBolderText{
	color : white;
	font-weight : bolder;
	font-size : 20px;
}

.whiteText{
	color : white;
}

.orangeText{
	color : orange;
	font-weight : bolder;
	font-size : 17px;
}

 

/* contents ( today's pick ) ---------------------------------------*/

div#todayspick>p.section_title{
	text-align : center;
	color : orange;
	font-weight : bolder;
	font-size : 25px;
	margin : 0 0 0 0;
	padding-top : 50px;
	padding-bottom : 50px;
}

div#todayspick{
	background-color : rgb(240, 240, 240);
	margin : 0 0 0 0;
}



div#todayspick div#disc{
	
	width : 400px;
	height : 300px;
	
	margin : 0 0 0 0;
}

div#slideshow{
	clear : both;
	width : 100%;
	height : 400px;
	overflow : hidden;
	position : relative;
	
}

div#slides{
	position : absolute;
}

div#slides>img{
	width : 400px;
	height : 300px;
	float : left;
	margin-left : 150px;
}

div#slides>div#disc{
	width : 550px;
	height : 300px;
	/* border : 1px pink solid; 확인용 */
	margin-left : 50px;
}


div#todayspick button{
	position : absolute;
	height : 100%;
	top : 0;
	border : none;
	padding : 20px;
	background-color : transparent;
	color : #000;
	font-weight : 800;
	font-size : 24px;
	opacity : 0.5;
	
}

div#slides button#prev{
	left : 0;
}

div#slides button#next{
	right : 50;
} 


div#slides>button:hover{
	background-color : #222;
	color : #fff;
	opacity : 0.6;
	cursor : pointer;
}

div#slides>button:focus{
	outline : 0;
}






/* contents ( 상품 ) ---------------------------------------*/

div#contents{
	
	background-color : rgb(220, 220, 220);
	margin : 0 0 0 0;
}

div#contents #contents_imgs{
	display : grid;
	justify-content : center;
	
	grid-template-columns : repeat(3, 300px);
	grid-template-rows : repeat(3, 400px);
	
	grid-column-gap : 70px;
	grid-row-gap : 70px;
	
	margin : 70px;
}

div#contents .img{
	border : 1px solid white;
	
}

div#contents_sort{
	text-align : left;
	font-size : 15px;
	margin : 0 0 0 0;
	padding : 50px;
	
}

div#contents_sort>span{
	padding-left : 100px;
	margin : 0 0 0 0;
	color : white;
}

div#contents_sort>span:hover{
	color : orange;
	font-weight : 900;
}
	





/*sh*/
/* errorpage start */
#error-body{
	margin:0px auto;
	padding:0px auto;
}

#error-container{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items:center;
	position:absolute;
	/* top: 100px; */
	justify-content: center;
	margin: 0px auto;
	padding: 0px auto;
	background-color : rgb(9, 74, 169);
	color:white;
}

#error_box{
	width:800px;
	height:300px;
	display:flex;
	flex-direction:row;
	align-content: center;
	justify-content: space-around;
	margin: 0px auto;
	padding: 0px auto;
}

#error_message{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}



#error_image{
	width:300px;
	height:300px;
}

/* error page end */

/* order start */



#orderOrrefundMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	height: auto !important;
}
 #orderOrrefund{
 margin: 100px 100px 100px 100px;
 width: 1000px;
 height: fit-content;
 padding: 30px 30px 30px 30px;
} 

#orderOrrefund_selector-container{
	height: 50px;
	padding: 0px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#orderOrrefund_selector-container span{
	font-size: 24px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
}
#order_selector{
	margin-left: 20px !important;
}

#oderOrrefund-container{
	margin-top: 30px;
}

#orderOrrefund-table{
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}

#orderOrrefund-table a{
	text-decoration: none;
	color: black;
}

/* #status-button{
	width: 150px;
	background-color: white;
} */

#pageBar{
	display:flex;
	justify-content: center;
}


/*login*/

/* 
<<<<<<< HEAD
#signinMain{
	
	height: 525px !important;
=======

main#signinMain{
	position:relative;
	top:105px;

	height: auto !important;
>>>>>>> 749ad50befa08293ad4f30d6e75705b3131ab122
	display:flex;
	justify-content: center;
	align-items: center;
	margin : 0 0 0 0;
	padding : 0 0 0 0;
}
div#signin-container{
	width:500px;
	height:680px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
div#signin-container form{
	width:320px;
	height:300px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}



div#signin-container p,input{
	width:300px;
	height:30px;
	margin-top:15px;
	margin-left:auto !important;
	margin-right:auto !important;
}

div#input_section{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-content:center;
	height:200px;
	
}
div#submit_section{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-content:center; 
	height:auto !important;
	padding : 0 0 0 20px;
	
	
}

div#submit_section *{
	padding : 0 0 0 0;
	margin : 0 0 0 0;
}

div#submit_section span{
	box-sizing: border-box;
    padding-top: 5px;
}



#check_signin{
	height:50px;
}
#lostorsignup-container{
	width:300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#lostorsignup-container a{
	text-decoration: none;
	color: black;

}

 */
/* cart  */
#cart-main{
	display:flex;
	justify-content: center;
	align-content: center;
	height:auto !important;
}
#cart-container{
	height:auto !important;
	margin-top:45px;
	margin-bottom:45px;
	
}
#cart-table{
	border-collapse: collapse;
	height: 400px;
	text-align: center
}
#cart-table th{
	width:300px;
	height:50px

}
#result_none{
	height:350px;
	
}
#cart_title{
	margin-bottom:10px;
}

#cart-table tr:first-child th:first-child{
	width:40px;
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	align-content: center;
	border-right: none !important;

}
#cart-table tr:first-child th:nth-child(2){
	border-left: none !important;
	width: 80px;
	
}
#cart-table input{
	width:15px;
	height:15px;
	margin-left:0px;
	margin-right:10px;
	padding:0px;
	
}




 /* 여기서부터 */




/* common
.wrap{
	width:1366px;
	padding-top: 100px; 헤더 공간
}
.container_wrap{
	width: 500px;
	margin: 0 auto;
	padding-top:100px;
}

타이틀
h1{
	font-size: 30px;
	text-align:center;
	font-weight:500;
	margin-bottom:30px;
}
인풋 스타일 (공통)
.input_style{
	margin-bottom: 26px;
	width: 100%; height: 45px;
	border : 1px solid #e0e0e0;
}
인풋 타이틀 (아이디/비밀번호 텍스트)
.input_txt{
	font-size: 13px;
	margin-bottom:6px;
	font-weight: 600;
}
큰 버튼 스타일
.bigBtn_syle{
	width:100%; height: 45px;
	border: none;
	font-size:15px; font-weight:600;
	color: #fff;
}
인풋 옆 작은 버튼
.smallBtn_syle{
	height: 45px;
	background-color: #000;
	padding: 0 10px;
	color: #fff;
	font-size: 13px;
	border:none;
}

contants

*** 로그인페이지 ***
로그인 btn
.login_loginBtn{
	background-color:rgb(9, 74, 169);
	font-size:15px; font-weight:600;
	margin-bottom:26px;
}

아이디 저장 check box
.submit_section_idSave input{float:left; margin-right:5px;}
.submit_section_idSave p{line-height: 1; float:left;}

아이디/비밀번호 찾기 btn
#logstorsignup-search a{
	margin-left: 240px;				이렇게하면 안돼용
	color: #000;
}

회원가입 btn
#lostorsignup-container{margin-top:26px; color:#fff; border : 1px solid #e0e0e0;}
#lostorsignup-container a{
	color:orange; text-align: center;
	display: block;
    width: 100%;
    text-align: center;
    line-height:48px;
}



*** 회원가입 페이지 ***
.join_input_id {width: 73%; margin-right: 18px;}


아이디찾기/비밀번호찾기 페이지
.serchid_submit_btn{background-color: rgb(9, 74, 169); margin-bottom:10px;}
.serchid_reset_btn{background-color: #e0e0e0; color: #666;}
.serachid_txt{
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0;
}
.serachid_txt p{float:left;}
.serchid_login_btn{background-color:rgb(9, 74, 169); text-align: center;}
.serchid_login_btn a{
	color:#fff;
	font-size:15px; font-weight:600;
	line-height: 48px;
}



아이디/비밀번호찾기 페이지
common - 아이디/비밀번호찾기 페이지
.serch_btn{
    display: inline-block;
    text-align: center;
    line-height: 180px;
    width: 230px; height: 180px;
    border: 1px solid #e0e0e0;
    font-size: 16px; color: #000;
    background-color: #fff;
    margin-right: 30px;
}
.serch_btn:last-child{margin-right: 0px;}
#search-container span:hover a{background-color:rgb(9, 74, 169); color:#fff;}


 */






