@charset "UTF-8";


#reviewForm-table{
	border-collapse: collapse !important;
}

/*yj*/

/* ------ reviewList.jsp --------*/

	/* 베스트 리뷰 3개 */
	div#review_bestReviewerContainer{
	    position: relative;
	    top: 100px;
	    
	    width : 1366px;
	    
	    margin-bottom : 100px;
	}
	
	div#review_bestReviewerTable>table{
	 	padding-bottom : 50px;
		border-bottom : 1px solid black;
	}
	 
	
	div#review_bestReviewerContainer tr *{
		text-align : center;
	}
	
	div#review_bestReviewerContainer tr, div#review_bestReviewerContainer td{
		padding : 30px;
	}
	
	div p.section_title {
		text-align : center;
		color : orange;
		font-weight : bolder;
		font-size : 25px;
		margin : 30px;
	}



	/* 리뷰 목록*/
	div#review_reviewListContainer{
		width : 1366px;
	}
	
	table#reviewTable{
		width : 1000px;
		margin-left: auto; 
		margin-right: auto;
		padding : 0 0 0 0;
	}
	
	table#reviewTable>tr>td{
		padding : 30px;
		border-style : none;
	}
	
	
	
	
	
	
	/* 페이지바 */
	div#reviewList_pagebar{
		text-align : center;
		padding : 50px 0px 0px 0px;
		width : 1366px;
		margin : 0 0 0 0;
		
	}
	
	
	
	
/* -------------reviewForm.jsp------------*/

	div#reviewForm-container table{
		width : 800px;
		margin-left: auto; 
		margin-right: auto; 
		margin-top : 50px; 
		margin-bottom : 100px;
	}
	
	div#reviewForm-container input{
		height : 30px;
	}
	
	div#reviewForm-container td, div#reviewForm-container th{
		padding : 5px;
	}
	
	div#reviewForm-container th{
		width : 150px;
	}
	
	div#reviewForm-container td{
		text-align : left;
	}
	
	/* div#reviewForm-container input#reviewTitle{
		text-align : left;
	} */
	
	div#reviewForm-container input[type=submit], div#reviewForm-container input[type=reset]{
		width : 70px;
		height : 35px;
		margin-left : 5px;
		margin-right : 5px;
	}
	
	
	main#reviewForm_main{
		height : 1000px;
	}
	
	div#reviewForm-container>h1{
		text-align : center;
		margin : 50px auto 0px auto;
		color : orange;
		font-weight : bolder;
		font-size : 25px;
	}
	
	
	
	/* -------------- reviewDetail.jsp ---------------- */
	
	div#reviewDetail-container{
		width : 900px;
		height : 1500px;
		margin-left : auto;
		margin-right : auto;
		
		padding : 50px;
		
	}
	
	div#reviewDetail-inner-container{
		height : 200px;
		border-bottom : 3px solid pink !important;
	}
	
	div#reviewDetail-inner2-container{
		float : right;
	}
	
	div#reviewDetail-buttons button{
		width : 70px;
		height : 35px;
		margin-left : 5px;
		margin-right : 5px;
	}
	
