@charset "UTF-8";


/* #reviewForm-table{
	border-collapse: collapse !important;
} */

/*yj*/

/* ------ reviewList.jsp --------*/

	/* 베스트 리뷰 3개 */
	div#review_bestReviewerContainer{
	    position: relative;
	    width : 1366px;
	    
	    margin-top : 70px;
	    margin-bottom : 70px;
	}
	
	div#review_bestReviewerTable{
	 	padding-bottom : 50px;
	}
	
	
	div#review_bestReviewerTable tr{
		text-align : center;
	}
	
	div#review_bestReviewerTable>tr>td{
		text-align : center;
	}
	
	div#review_bestReviewerTable p{
		margin : 5px 2px 5px 2px;
		padding : 0 0 0 0;
	}
	
	.blueText{
		color : blue;
		font-weight : bolder;
		font-size : 20px;
	}
	
	div p.section_title {
		text-align : center;
		color : orange;
		font-weight : bolder;
		font-size : 25px;
		margin : 30px;
	}



	/* 리뷰 목록*/
	div#review_reviewListContainer{
		width : 1366px;
	}
	
	table#reviewTable{
		width : 1000px;
		margin-left: auto; 
		margin-right: auto;
		padding : 0 0 0 0;
		border-bottom : 1px solid gray;
		border-top : 1px solid gray;
	}
	
	table#reviewTable>tr>td{
		padding : 30px;
		border-style : none;
	}
	
	.bolderText{
		font-weight : bolder;
	}
	
	.blackText{
		color : black;
	}
	
	
	/* 페이지바 */
	div#reviewList_pagebar{
		text-align : center;
		padding : 50px 0px 0px 50px;
		width : 1366px;
		margin : 0 0 50px 0;
		
	}
	
	
	
	
/* -------------reviewForm.jsp------------*/

	div#reviewForm-container table{
		width : 800px;
		margin-left: auto; 
		margin-right: auto; 
		margin-top : 50px; 
		margin-bottom : 100px;
	}
	
	div#reviewForm-container input{
		height : 30px;
	}
	
	div#reviewForm-container td, div#reviewForm-container th{
		padding : 5px;
	}
	
	div#reviewForm-container th{
		width : 150px;
	}
	
	div#reviewForm-container td{
		text-align : left;
	}
	
	/* div#reviewForm-container input#reviewTitle{
		text-align : left;
	} */
	
	div#reviewForm-container input[type=submit], div#reviewForm-container input[type=reset]{
		width : 70px;
		height : 35px;
		margin-left : 5px;
		margin-right : 5px;
	}
	
	
	main#reviewForm_main{
		height : 1000px;
	}
	
	div#reviewForm-container>h1{
		text-align : center;
		margin : 50px auto 0px auto;
		color : orange;
		font-weight : bolder;
		font-size : 25px;
	}
	
	.section_title{
		text-align : center;
		margin : 50px auto 0px auto;
		color : orange;
		font-weight : bolder;
		font-size : 25px;
	}
	
	
	/* -------------- reviewDetail.jsp ---------------- */
	
	div#reviewDetail-container{
		width : 900px;
		height : fit-content;
		
		margin-left : auto;
		margin-right : auto;
		margin-top : 50px;
		margin-bottom : 50px;
		
		padding : 30px;
		
		border : 1px solid gray;
		
	}
	
	div#reviewDetail-inner-container{
		height : 200px;
		padding : 0px;
		
		/* border : 1px solid gray; */
		
		border-bottom : 1px solid gray;
		
		display : flex;
		flex-direction: row;
    	justify-content: space-between;
	}
	
	div#reviewDetail-inner-container p{
		width : fit-content;
	}
	
	
	/* 상품이미지, 상품정보 div */
	div#reviewDetail-inner2-container{
		text-align : end;
	}
	
	/* 사용자가 업로드한 사진과 내용 */
	div#reviewDetail-userImage_reviewContents{
		margin-top : 50px;
		margin-bottom : 50px;
	}
	
	
	
	div#reviewDetail-buttons button{
		width : 70px;
		height : 35px;
		margin-left : 5px;
		margin-right : 5px;
	}
	
		/* HelloMVC 댓글테이블*/
	    /* table#tbl-comment{width:580px; margin:0 auto; border-collapse:collapse; clear:both; } 
	    table#tbl-comment tr td{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}
	    table#tbl-comment tr td:first-of-type{padding: 5px 5px 5px 50px;}
	    table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
	    table#tbl-comment button.btn-reply{display:none;}
	    table#tbl-comment button.btn-delete{display:none;}
	    table#tbl-comment button.btn-update{display:none;}
	    
	    table#tbl-comment tr:hover {background:lightgray;}
	    
	    table#tbl-comment tr:hover button.btn-reply{display:inline;}
	    table#tbl-comment tr:hover button.btn-delete{display:inline;}
	    table#tbl-comment tr:hover button.btn-update{display:inline;}
	    
	    table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
	    
	    table#tbl-comment sub.comment-writer {color:navy; font-size:14px}
	    table#tbl-comment sub.comment-date {color:tomato; font-size:10px}
	    
	    table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}
	    
	    table#tbl-comment tr.level2 sub.comment-writer {color:#8e8eff; font-size:14px}
	    table#tbl-comment tr.level2 sub.comment-date {color:#ff9c8a; font-size:10px} */
	   
	

